@import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');

* {
    font-family: 'Arimo', sans-serif;
}

.img-hover-zoom {
    width: auto;
    height: auto;
    overflow: hidden;
}

.img-hover-zoom img {
    transition: transform .5s ease;
}

.img-hover-zoom:hover img {
    transform: scale(1.5);
}

.bg-light {
    background-color: #ddd !important;
}

h1 {
    /* color: #333333 !important;  */
    color: #666 !important; 
}

a {
    text-decoration: none;
}